__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

.venv/
env/
ENV/
conda-meta/

outputs/
notebooks/.ipynb_checkpoints/

data/humaneva/raw/
data/humaneva/processed/
data/humaneva/source_code/
data/humaneva/source_code_temp/
data/humaneva/update_temp/
data/humaneva/updates/

archives/
*.zip
*.rar
*.exe
*.pt
*.pth
*.ckpt